Category::create([
  'name' => 'Personal',
  'slug' => 'personal'
])

Post::create([
'title' => 'Judul Ketiga',
'category_id' => 3,
'slug' => 'judul-ketiga',
'excerpt' => 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, doloribus.',
'body' => '<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p> <p> Saepe tempora eos ipsam sit voluptates quasi, ratione pariatur nesciunt culpa corporis ad optio eius, magnam cum ex </p> <p>    itaque, explicabo suscipit reiciendis incidunt libero voluptatum! Deserunt, eveniet. Modi velit hic vero tempore, rem, eos impedit dolorem est dolorum sit harum quisquam voluptatibus error inventore perferendis sapiente quis excepturi id maiores vel ratione cumque iure nam. Architecto maxime, accusamus nostrum modi expedita at numquam sed quae facere quidem, similique ipsa eveniet saepe ea sequi non debitis, doloribus distinctio. Ipsum odit maxime dolore molestias, labore dolor corporis corrupti pariatur omnis quasi officia voluptate sit.</p>'
])